
 * {
   box-sizing: border-box;
}

:root {
    --blue: linear-gradient(180deg, #0120CB 0%, #011BA9 100%);
    --yellow: #FFE817;
    --green: #90FF7E;
    --red: #FFA57E;
    --spooky-orange: #ad4e08;
    --spooky-orange-text: #fffec8;
    --gap: 0.1em;
    --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }
 
 html, body {
    height: 100%;
 }
 
 body {
    font-family: sans-serif;
    background: #222;
    color: white;
    font-size: 2vw;
    text-align: center;
    padding: 1em;
    background: linear-gradient(180deg, #2E2E3A 0%, #0C0C2C 100%);
 }

 .score {
    display: flex;
    align-items: center;
 }